[Unit]
Description=Launcher for the ROS master, parameter server and rosout logging node
After=network.target

[Service]
EnvironmentFile=/etc/default/roscore
ExecStartPre=/bin/touch ${CMAKE_PREFIX_PATH}/.catkin
ExecStart=/opt/ros/indigo/bin/roscore -p $ROS_PORT
Restart=on-abort

[Install]
WantedBy=multi-user.target
